<header-component></header-component>


<div class="row no-gutters">

    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera mb-0"></div>
            <div class="col-md-8">
                <div class="fondoCabecera mb-0">
                    <div class="mb-0">Tipos de producto</div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera mb-0"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>

            <div class="col-md-8" style="margin-top: 50px;">

                <div class="row no-gutters pb-4">

                    <div class="col-md-6">
                        <a href="/tailorShop/tipoproducto/new/" class="btn btn-outline-info botonAdmin mr-3 px-4o" role="button" >Nuevo Tipo producto</a>
                        <button type="button" class="btn btn-outline-info botonAdmin px-4" ng-click="resetOrder()">Reset order</button>
                    </div>

                    <!--Registros por pagina-->
                    <div class="col-md-6">
                        <nav aria-label="RegistrosPorPagina">
                            <ul class="pagination" style="float: right;">
                                <li ng-class="{'active':(rpp == 10)}" class="page-item"><a class="page-link" href="{{ob + '/' + op + '/10/' + page}}">10</a></li>
                                <li ng-class="{'active':(rpp == 50)}" class="page-item"><a class="page-link" href="{{ob + '/' + op + '/50/' + page}}">50</a></li>
                                <li ng-class="{'active':(rpp == 100)}" class="page-item"><a class="page-link" href="{{ob + '/' + op + '/100/' + page}}">100</a></li>
                            </ul>
                        </nav>              
                    </div>
                </div>

                <!--tabla de contenidos-->
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <tr class="table-active">
                            <th class="text-center">
                                ID
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <button type="button" class="btn btn-light p-1 dropup" ng-click="ordena('id', 'asc')">
                                        <i class="dropdown-toggle"></i>
                                    </button>
                                    <button type="button" class="btn btn-light p-1" ng-click="ordena('id', 'desc')">
                                        <i class="dropdown-toggle"></i>
                                    </button>
                                </div>
                            </th>
                            <th>
                                descripcion
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <button type="button" class="btn btn-light p-1 dropup" ng-click="ordena('tipoproducto.desc', 'asc')">
                                        <i class="dropdown-toggle"></i>
                                    </button>
                                    <button type="button" class="btn btn-light p-1" ng-click="ordena('tipoproducto.desc', 'desc')">
                                        <i class="dropdown-toggle"></i>
                                    </button>
                                </div>
                            </th>
                            <th style="text-align: center;">
                                Acciones                            
                            </th>
                        </tr>
                        <tr ng-repeat="fila in ajaxDataTipoProducto">
                            <td>{{fila.id}}</td>
                            <td>{{fila.desc}}</td>
                            <!--Poner las flechas de ordenación y recordar que el desc funciona solo si pongo tipoproducto.desc-->
                            <td>
                                <div class="btn-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                                    <a href="{{'/tailorShop/tipoproducto/view/' + fila.id}}" class="btn btn-light fas fa-eye p-1" role="button"></a>
                                    <a href="{{'/tailorShop/tipoproducto/edit/' + fila.id}}" class="btn btn-light fas fa-edit p-1" role="button"></a>
                                    <a href="{{'/tailorShop/tipoproducto/remove/' + fila.id}}" class="btn btn-light fas fa-trash p-1" role="button"></a>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

                <!--Paginacion vecindario-->     
                <nav aria-label="paginacion">
                    <ul class="pagination justify-content-center py-5">                                                 
                        <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                            <a class="page-link" href="tipoproducto/plist/{{rpp}}/1/{{order}}"><span>&laquo;</span></a>
                        </li>
                        <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                            <a class="page-link" href="tipoproducto/plist/{{rpp}}/{{page - 1}}/{{order}}"><span>&lsaquo;</span></a>
                        </li>

                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="tipoproducto/plist/{{rpp}}/{{p}}/{{order}}">{{p}}</a>
                        </li>
                        <li class="page-item"  ng-class="{'disabled':(page == totalPages)}">
                            <a class="page-link" href="tipoproducto/plist/{{rpp}}/{{page--1}}/{{order}}"><span>&rsaquo;</span></a>
                        </li>
                        <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                            <a class="page-link" href="tipoproducto/plist/{{rpp}}/{{totalPages}}/{{order}}"><span>&raquo;</span></a>
                        </li>                  
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>