<header-component></header-component>

<div class="row no-gutters">

    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera mb-0"></div>
            <div class="col-md-8">
                <div class="fondoCabecera mb-0">
                    <div class="mb-0">Cambiar password</div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera mb-0"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>

            <div class="col-md-8 view" style="margin-top: 50px; margin-bottom: 150px;">

                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="py-1  tituloView">
                        </div>
                    </div>
                </div>

                <div class="row no-gutters pt-3 pb-4" ng-show="changed">
                    <div class="col-5 mx-auto pt-3">
                        <form name="userForm">

                            <md-input-container class="md-block">
                                <label>Antiguo Password</label>
                                <input md-no-asterisk required type="password" id="last_pass" name="last_pass" ng-model="last_pass"
                                       minlength="5" />                                    

                                <div ng-messages="userForm.last_pass.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength']">
                                        Password incorrecto.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Nuevo Password</label>
                                <input md-no-asterisk required type="password" id="new_pass" name="new_pass" ng-model="new_pass"
                                       minlength="5" />                                    

                                <div ng-messages="userForm.new_pass.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength']">
                                        Password incorrecto.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Repite Password</label>
                                <input md-no-asterisk required type="password" id="new_pass_verify" name="new_pass_verify" ng-model="new_pass_verify"
                                       minlength="5" />                                    

                                <div ng-messages="userForm.new_pass_verify.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength']">
                                        Password incorrecto.
                                    </div>
                                </div>
                            </md-input-container>

                            <div class="d-flex justify-content-between flex-wrap pb-3">
                                <button ng-click="update()" type="button" class="btn btn-info ml-0" ng-disabled="userForm.$invalid"> Cambiar</button>
                                <button type="button" class="btn botonAdmin" onclick="window.history.back()">Volver</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" ng-show="!changed">
                    <div class="col-12">
                        <div class="card mx-auto" style="margin-top: 60px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                            <div class="card-body">
                                <h4 class="card-title" style="text-align: center;">Password cambiado con éxito.</h4> 
                                <div class="d-flex justify-content-center flex-wrap align-items-center p-3 pb-2 mb-3 ml-0" role="alert">                              
                                    <button type="button" class="btn btn-secondary mt-3 pt-2" onclick="window.history.back()">Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>