<!--<header ng-include="'js/app/header.html'"></header>-->
<header-component></header-component>


<div class="row no-gutters">

    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera mb-0"></div>
            <div class="col-md-8">
                <div class="fondoCabecera mb-0">
                    <div class="mb-0">Editar usuario</div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera mb-0"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-8 edit pt-0" style="margin-top: 50px; margin-bottom: 220px;">

                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="py-1 tituloView">                         
                        </div>
                    </div>
                </div>


                <form name="userForm" ng-show="!edit"> 
                    <div class="row no-gutters mt-3 formEdit">

                        <div class="col-md-4 pl-3">
                            <div class="row">
                                <div class="col-md-12 mx-auto pt-3">
                                    <div class="mx-auto pb-2 fotoPerfil profile-picture image-upload fotoEditar">
                                        <img ng-model="foto" class="mx-auto my-auto" id="output" ng-src="http://localhost:8081/imagenes/{{foto}}">
                                    </div>
                                    <label class="hiddenfile">                           
                                        <input id="prueba" type="file" file-model="myFile" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" ng-model="foto"/>
                                    </label> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-4 pb-4 pt-4">

                            <md-input-container class="md-block">
                                <label>DNI</label>
                                <input md-no-asterisk required type="text" name="dni" ng-model="dni"
                                       maxlength="9" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/i" />                                    

                                <div ng-messages="userForm.dni.$error" role="alert">
                                    <div ng-message-exp="['required', 'maxlength', 'pattern']">
                                        DNI incorrecto.
                                    </div>
                                </div>
                            </md-input-container>
       

                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input md-no-asterisk required name="loginUser" ng-model="loginUser">

                                <div ng-messages="userForm.loginUser.$error">
                                    <div ng-message="required">Username obligatorio.</div>
                                </div>
                            </md-input-container>


                            <md-input-container class="md-block">
                                <label>Nombre</label>
                                <input md-no-asterisk required name="nombre" ng-model="nombre">

                                <div ng-messages="userForm.nombre.$error">
                                    <div ng-message="required">Nombre obligatorio.</div>
                                </div>
                            </md-input-container>

                            
                            <md-input-container class="md-block">
                                <label>1r Apellido</label>
                                <input md-no-asterisk required name="ape1" ng-model="ape1">

                                <div ng-messages="userForm.ape1.$error">
                                    <div ng-message="required">Apellido obligatorio.</div>
                                </div>
                            </md-input-container>


                            <md-input-container class="md-block mb-0">
                                <label>2o Apellido</label>
                                <input md-no-asterisk required name="ape2" ng-model="ape2">

                                <div ng-messages="userForm.ape2.$error">
                                    <div ng-message="required">Apellido obligatorio.</div>
                                </div>
                            </md-input-container>                          



                            <div class="form-group" ng-show="admin">
                                <label class="labelEdit">Tipo Usuario</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="pl-1 form-control" id="obj_tipoUsuario.desc" name="obj_tipoUsuario.desc" ng-model="obj_tipoUsuario.desc"
                                           ng-click="modal()" disabled/>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>                    

                            <div class="d-flex justify-content-between flex-wrap">
                                <button ng-click="guardar()" class="btn btn-info mt-4 ml-0">Guardar</button>
                                <button class="btn botonAdmin mt-4" onClick="javascript:history.go(-1);">Volver</button>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="row" ng-show="edit">
                    <div class="col-12">
                        <div class=" mx-auto">
                            <div class="card-body my-3">
                                <h4 class="card-title text-center">El Usuario ha sido editado correctamente.</h4>
                                <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                                    <button type="button" class="btn botonAdmin" onclick="window.history.back()">Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
<!--<footer-component></footer-component>-->


<!--Componenete modal-->
<cadd-modal-var class="modal fade ng-isolate-scope" id="cadd-location-modal" tabla="'tipousuario'" data="obj_tipoUsuario" aria-hidden="true"
                style="display: none;"></cadd-modal-var>



