<header-component></header-component>

<div class="row no-gutters">
    <div class="col-md-12 px-4" style="margin-top: 50px;">
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img class="imgForm" src="images/pru.jpg" alt="foto_fondo">
            </div>
            <div class="col-md-4">

                <div class="login-wrap">
                    <!--<form name="userForm">-->
                    <div class="login-html">
                        <input ng-model="radiob" value="tab-1" id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">INICIAR SESIÓN</label>
                        <input ng-model="radiob" value="tab-2" id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">REGÍSTRATE</label>

                        <!-----------------------FORM LOGIN------------------------->
                        <div class="login-form formRegistro">
                            <form name="userForm">
                                <div class="sign-in-htm">

                                    <md-input-container class="md-block">
                                        <label>Username</label>
                                        <input md-no-asterisk required name="login1" ng-model="login1" style="color:white">

                                        <div ng-messages="userForm.login1.$error">
                                            <div ng-message="required">Username obligatorio.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Password</label>
                                        <input md-no-asterisk required type="password" name="passAdmin" ng-model="passAdmin" minlength="5" style="color:white" />                                    

                                        <div ng-messages="userForm.passAdmin.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength']">
                                                Password incorrecto.
                                            </div>
                                        </div>
                                    </md-input-container>


                                    <!-----------------------Boton sign in/LOGIN------------------------->
                                    <div class="group">
                                        <input type="submit" class="btn-info" value="Login" ng-click="log()">
                                    </div>

                                    <div class="usucreado text-center" ng-show="usuCreado">Usuario creado correctamente. <br> Inicia sesión.</div>

                                </div>
                            </form>

                            <!-----------------------FORM REGISTRAR NUEVO USUARIO------------------------->
                            <form name="userForm">
                                <div class="sign-up-htm">

                                    <md-input-container class="md-block">
                                        <label>DNI</label>
                                        <input md-no-asterisk required type="text" name="dni" ng-model="dni"
                                               maxlength="9" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/i" style="color:white" />                                    

                                        <div ng-messages="userForm.dni.$error" role="alert">
                                            <div ng-message-exp="['required', 'maxlength', 'pattern']">
                                                DNI incorrecto.
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Username</label>
                                        <input md-no-asterisk required name="loginUser" ng-model="loginUser" style="color:white">

                                        <div ng-messages="userForm.loginUser.$error">
                                            <div ng-message="required">Username obligatorio.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Nombre</label>
                                        <input md-no-asterisk required name="nombre" ng-model="nombre" style="color:white">

                                        <div ng-messages="userForm.nombre.$error">
                                            <div ng-message="required">Nombre obligatorio.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>1r Apellido</label>
                                        <input md-no-asterisk required name="ape1" ng-model="ape1" style="color:white">

                                        <div ng-messages="userForm.ape1.$error">
                                            <div ng-message="required">Apellido obligatorio.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>2o Apellido</label>
                                        <input md-no-asterisk required name="ape2" ng-model="ape2" style="color:white">

                                        <div ng-messages="userForm.ape2.$error">
                                            <div ng-message="required">Apellido obligatorio.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Password</label>
                                        <input md-no-asterisk required type="password" name="pass1" ng-model="pass1" minlength="5" style="color:white"/>                                    

                                        <div ng-messages="userForm.pass1.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength']">
                                                Password incorrecto.
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Repite Password</label>
                                        <input md-no-asterisk required type="password" name="pass2" ng-model="pass2" minlength="5" style="color:white" />                                    

                                        <div ng-messages="userForm.pass2.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength']">
                                                Password incorrecto.
                                            </div>
                                        </div>
                                    </md-input-container>


                                    <!------------------------- Boton sign up/REGISTRARSE --------------------->
                                    <div class="group">
                                        <input ng-click="guardar()" type="submit" class="btn-info" value="Registrarse">
                                    </div>                   

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>