<!-- Fixed navbar -->
<!--navbar-expand-xl/lg/md/sm-->
<div class="row no-gutters">
    <div class="col-md-2 my-auto text-center">
        <a href="home/"><img class="p-0 logo" src="images/logo-01_animated.svg" alt="logo"></a>
    </div>
    <div class="linksNav col-md-4 my-auto">
        <a class="pl-0 hoverNav text-uppercase" href="aboutus">Sobre la tienda</a>
        <a class="hoverNav text-uppercase" href="cursos">cursos</a>
        <a class="hoverNav text-uppercase" href="contacto">Contacto</a>
    </div>
    <div class="col-md-6 my-auto text-center">
        <div id="ballMenuContainer" class="">

            <!-- busqueda hover -->

            <div class="d-flex flex-nowrap">

                <div class="container order-1" tabindex="1">
                    <div class="search-container" tabindex="1">
                        <input placeholder='search' type='text' class="input2 inputBusqueda" ng-model="busqueda"/>
                        <a href="producto/plistUsuarioBusqueda/{{busqueda}}" class="button d-flex justify-content-center align-items-center">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="order-2">
                    <div class="botonHeader">
                        <a href="usuario/view/{{c.userId}}" class="buttonGreen d-flex justify-content-center align-items-center">
                            <i class="menuTextPerfil fas fa-user"></i>
                        </a>
                    </div>
                </div>

                <div class="order-3">
                    <div class="botonHeader">
                        <a href="carrito/plist" class="buttonBlue d-flex justify-content-center align-items-center">
                            <i class="menuText fas fa-shopping-cart"></i>
                            <sup class="redondelText" ng-show="c.carrito > 0">{{c.carrito}}</sup>                       
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- <div style="color: white; margin-right: 20px;" ng-show="c.logeado">
            <a class="enlaceColor" href="carrito/plist/{{c.userId}}"><i class="enlaceColor fas fa-cart-arrow-down"></i>  
                <sup class="redondel" ng-show="c.carrito > 0">{{c.carrito}}</sup>
            </a>
 </div>-->





<!--Quitado el fixed top ralentizaba la web-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark pl-0">
    <div class="col-md-2 my-auto">

        <!--Seccion Administracion-->
        <!--<div class="nav-item"  ng-show="c.logeado">-->
        <div class="nav-item"  ng-show="c.isAdmin">
            <!--<div class="dropdown" ng-show="c.isAdmin">-->
            <div class="dropdown" ng-show="c.isAdmin">
                <button class="btn btn-secondary dropdown-toggle ml-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="text-transform: capitalize;">
                    Administracion
                </button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">

                    <a ng-show="c.isAdmin" ng-class="{
                                active: c.isActive('/usuario')
                            }"
                       class="dropdown-item" href="usuario/plist">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-user enlaceColor"></i>
                            </div> 
                            <div class="col-md-9">
                                Usuarios
                            </div>
                        </div> 
                    </a>

                    <a ng-show="c.isAdmin" ng-class="{
                                active: c.isActive('/tipousuario')}"
                       class="dropdown-item" href="tipousuario/plist">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-users enlaceColor"></i> 
                            </div>
                            <div class="col-md-9">
                                Tipos usuario
                            </div>
                        </div> 
                    </a>

                    <a ng-show="c.isAdmin" ng-class="{
                                active: c.isActive('/producto/plist')}"
                       class="dropdown-item" href="producto/plist">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-archive enlaceColor"></i> 
                            </div>
                            <div class="col-md-9">
                                Productos
                            </div>
                        </div> 
                    </a>

                    <a ng-show="c.isAdmin" ng-class="{
                                active: c.isActive('/tipoproducto')
                            }"
                       class="dropdown-item" href="tipoproducto/plist">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-boxes enlaceColor"></i> 
                            </div>
                            <div class="col-md-9">
                                Tipos producto
                            </div>
                        </div> 
                    </a>

                    <a ng-show="c.isAdmin" ng-class="{
                                active: c.isActive('/factura')
                            }"
                       class="dropdown-item" href="factura/plist">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-file-invoice enlaceColor"></i> 
                            </div>
                            <div class="col-md-9">
                                Facturas
                            </div>
                        </div> 
                    </a>

                </div>
            </div>
        </div>


    </div>





    <!--    <a class="navbar-brand trol" href="home">Tailor shop</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!--<ul class="navbar-nav mr-auto" ng-show="c.logeado">-->
        <ul class="navbar-nav mr-auto">

            <!--User-->
            <li class="nav-item" ng-class="{
                        active: c.isActive('/producto/plistUsuario/1')}">
                <a class="nav-link" href="producto/plistUsuario/1">TELAS</a>
            </li>
            <li class="nav-item" ng-class="{
                        active: c.isActive('/producto/plistUsuario/2')}">
                <a class="nav-link" href="producto/plistUsuario/2">PATRONES</a>
            </li>
            <li class="nav-item" ng-class="{
                        active: c.isActive('/producto/plistUsuario/3')}">
                <a class="nav-link" href="producto/plistUsuario/3">ACCESORIOS</a>
            </li>
            <li class="nav-item" ng-class="{
                        active: c.isActive('/producto/plistUsuario/4')}">
                <a class="nav-link" href="producto/plistUsuario/4">KITS</a>
            </li>
            <li class="nav-item" ng-class="{
                        active: c.isActive('/producto/plistUsuario/5')}">
                <a class="nav-link" href="producto/plistUsuario/5">LIBROS Y REVISTAS</a>
            </li>
            <li class="nav-item" ng-class="{
                        active: c.isActive('/producto/plistUsuario/6')}">
                <a class="nav-link" href="producto/plistUsuario/6">OUTLET</a>
            </li>

        </ul>


        <div style="color: white; margin-right: 20px;" ng-show="c.logeado">Bienvenid@: </div>


        <!--Boton login-->
        <div class="btn-group ml-auto" ng-show="!c.logeado">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <form name="userForm" class="px-4 py-3">
                    <div class="form-group">
                        <label for="login">Nombre de usuario:</label>
                        <input id="login" type="text" class="form-control" ng-class="{
                                ' is-invalid': userForm.login.$invalid && !userForm.login.$pristine}"
                               name="login" ng-model="login" ng-required="true" placeholder="Usuario"/>
                        <div ng-show="!userForm.login.$valid && userForm.login.$dirty && !userForm.login.$pristine" class="alert alert-danger" role="alert">
                            Login obligatorio
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass">Password:</label>
                        <input  id="pass" type="password" class="form-control" ng-class="{
                                ' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}" 
                                name="pass" ng-model="pass" ng-required="true" placeholder="Password"/>
                        <div ng-show="!userForm.pass.$valid && userForm.pass.$dirty && !userForm.pass.$pristine" class="alert alert-danger" role="alert">
                            Contrasenya obligatoria
                        </div>
                    </div>
                    <button ng-click="log()" class="btn btn-info ml-0">Login</button>
                    <div class="row" ng-show="error == true">
                        <div class="card-body pt-3 pb-0">
                            <h5 class="card-title mb-0" style="text-align: center;">Datos erroneos.</h5>     
                        </div>
                    </div>
                </form>

                <div class="dropdown-divider"></div>
                <div class="dropdown-item">Hazte una cuenta :) 
                    <a href="/tailorShop/usuario/new/" class="btn botonAdmin ml-2" role="button">Sign in</a>
                </div>
            </div>
        </div>


        <!--Boton logout-->
        <div class="nav-item"  ng-show="c.logeado">
            <div class="dropdown" >
                <button class="btn btn-secondary dropdown-toggle ml-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="text-transform: capitalize;">
                    {{c.usuario}}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item pr-5" href="{{'producto/plistUsuarioFav/10/1/' + c.userId + '/' + c.usuario}}">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-heart enlaceColor"></i> 
                            </div>
                            <div class="col-md-9">
                                Lista de deseos
                            </div>
                        </div>
                    </a>


                    <a class="dropdown-item pr-5" href="{{'factura/plist/10/1/' + c.userId + '/' + c.usuario}}">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-file-invoice enlaceColor"></i> 
                            </div>
                            <div class="col-md-9">
                                Facturas
                            </div>
                        </div>
                    </a>

                    <a class="dropdown-item pr-5" href="usuario/edit/{{c.userId}}">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-user-edit enlaceColor"></i>
                            </div>
                            <div class="col-md-9">
                                Editar perfil
                            </div>
                        </div>
                    </a>

                    <a class="dropdown-item pr-5" href="usuario/changepass">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-key enlaceColor"></i>
                            </div>
                            <div class="col-md-9">
                                Cambiar password
                            </div>
                        </div>
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pr-5" ng-click="logout()">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <i class="fas fa-sign-out-alt enlaceLogout"></i>
                            </div>
                            <div class="col-md-9">
                                Logout
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</nav>
