<header-component></header-component>


<div class="row no-gutters">
    <div role="main" class="col-md-12">
        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera"></div>
            <div class="col-md-8">
                <div class="fondoCabecera">
                    <div class="mb-0">Carro <small>({{carrito}} artículo/s)</small></div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <!--tabla de contenidos-->
                <div class="" ng-show="!compra">
                    <div ng-repeat="fila in ajaxDataCarrito">
                        <div class="row no-gutters border-bottom">
                            <div class="col-md-6">
                                <div class="fotoCarrito">
                                    <image ng-src="http://localhost:8081/imagenesPatchwork/{{fila.obj_producto.foto}}"/>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="tituloCarrito">{{fila.obj_producto.desc}}</div>
                                <div class="textoCarrito">{{fila.obj_producto.precio}}€/unidad</div>

                                <section  class="mt-5" layout="row" layout-align="left">
                                    <div>
                                        <input class="inputCantidad" name="cantidad" ng-model="fila.cantidad" type="text" value="" size="3" disabled />
                                        <!--{{fila.cantidad}}-->
                                    </div>
                                    <md-button aria-label="button" ng-click="add(fila.obj_producto.id, 1)" class="groupX middle"><i class="fas fa-plus-square"></i></md-button>
                                    <md-button aria-label="button" ng-click="reduce(fila.obj_producto.id, 1)" class="groupX middle"><i class="fas fa-minus-square"></i></md-button>
                                    <md-button aria-label="button" ng-click="borrar(fila.obj_producto.id)" class="groupX right"><i class="fas fas fa-trash"></i></md-button>
                                </section>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="subtotal">
                                <strong>Subtotal: {{total}}€</strong> <small>(I.V.A. incluido) </small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pb-5 pt-5" style="text-align: center;">
                                <button ng-click="buy()" class="btn btn-info mt-2 ml-0">Realizar pedido</button>
                                <button ng-click="empty()" class="btn buttonFav btn-outline-dark mt-2 ml-0">Vaciar Carrito</button>
<!--                                <button type="button" class="btn botonAdmin mt-2 ml-0" onclick="window.history.back()">Volver</button>-->
                                  <a href="producto/plistUsuario/1" class="btn botonAdmin mt-2 ml-0" role="button">Seguir comprando</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters pb-5 mb-5" ng-show="compra">
                    <div class="col-7 mx-auto text-center py-4">
                        <div class="card mx-auto view my-5">
                            <div class="card-body p-5">
                                <h4 class="card-title" style="text-align: center;">Oh no. ¡Tu carro de la compra está vacío!</h4>
                                <div class="d-flex justify-content-center align-items-center pt-3" role="alert">
                                    <!--<button type="button" class="btn botonAdmin ml-0" onclick="window.history.back()">Seguir comprando</button>-->
                                    <a href="producto/plistUsuario/1" class="btn botonAdmin mt-2 ml-0" role="button">Seguir comprando</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>
