<!--<header ng-include="'js/app/header.html'"></header>-->
<header-component></header-component>

<div class="row no-gutters">

    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera mb-0"></div>
            <div class="col-md-8">
                <div class="fondoCabecera mb-0">
                    <div class="mb-0">Editar línea</div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera mb-0"></div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-8 view" style="margin-top: 50px; margin-bottom: 180px;">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="py-1 tituloView">
                        </div>

                        <div class="col-6 mx-auto">
                            <form name="userForm" class="p-5 pb-3 mt-0 mb-0 mx-auto" ng-show="!edit" style="margin-top: 60px;"> 

                                <div class="form-group pb-4"> 
                                    <label for="id" class="labelEdit col-form-label">Id</label>
                                    <input ng-model="id" class="pl-1 form-control" name="id" type="text" ng-disabled="true" />
                                </div>

                                <md-input-container class="md-block mb-0" flex-gt-sm>
                                    <label>Cantidad</label>
                                    <input md-no-asterisk name="cantidad" ng-model="cantidad"
                                           required type="number">

                                    <div ng-messages="userForm.existencias.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">
                                            Cantidad obligatoria.
                                        </div>
                                    </div>
                                </md-input-container>
                                <!--                                <div class="form-group"> 
                                                                    <label for="cantidad" class="col-form-label">Cantidad</label>
                                                                    <input ng-model="cantidad" class="form-control" name="cantidad" type="text" ng-required="true" />
                                                                    <div ng-show="!userForm.cantidad.$valid" class="alert alert-danger" role="alert">
                                                                        Cantidad obligatoria
                                                                    </div>
                                                                </div>-->

                                <div class="form-group">
                                    <label class="labelEdit">Producto</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="pl-1 form-control mr-0" id="id_producto" name="id_producto" ng-model="obj_producto.desc"
                                               ng-click="modal()" disabled/>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary ml-0" data-toggle="modal" data-target="#cadd-location-modal_pro">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group"> 
                                    <label for="id_factura" class="labelEdit col-form-label">Factura</label>
                                    <input ng-model="id_factura" class="pl-1 form-control" name="id_factura" type="text" ng-disabled="true" />
                                </div>

                                <div class="d-flex justify-content-between flex-wrap">
                                    <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
                                    <button class="btn botonAdmin mt-2" onClick="javascript:history.go(-1);">Volver</button>
                                </div>
                            </form>
                        </div>


                        <div class="row" ng-show="edit">
                            <div class="col-12">
                                <div class="card mx-auto" style="margin-top: 100px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                                    <div class="card-body">
                                        <h4 class="card-title" style="text-align: center;">La factura ha sido editada correctamente.</h4>
                                        <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                                            <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
    <!--<footer-component></footer-component>-->

    <!--Componenete modal-->
    <cadd-modal-pro class="modal fade ng-isolate-scope" id="cadd-location-modal_pro" tabla="'producto'" data="obj_producto" aria-hidden="true"
                    style="display: none;"></cadd-modal-pro>