<header-component></header-component>


<div class="row no-gutters">
    <div role="main" class="col-md-12">
        <div class="row no-gutters">
            <!--<div class="col-md-2 fondoCabecera"></div>-->
            <div class="col-md-12">
                <div class="fondoCabecera margen-titulo">
                    <div class="mb-0">Contacto</div>
                </div>
            </div>
            <!--<div class="col-md-2 fondoCabecera"></div>-->
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="pb-5">
                    Si tienes cualquier duda o sugerencia y quieres contactar con nosotros, 
                    puedes hacerlo mediante este formulario, llamándonos por teléfono, escribiéndonos un email, 
                    visitándonos en nuestra tienda o a través de nuestras redes sociales.
                </div>
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-8">
                        <div class="white_box">
                            <h5>Formulario de contacto</h5>

                            <form name="userForm" action="" method="post" class="mt-2">

                                <md-input-container class="md-block mt-5">
                                    <label>Nombre</label>
                                    <input md-no-asterisk required name="nombre" ng-model="nombre">

                                    <div ng-messages="userForm.nombre.$error">
                                        <div ng-message="required">Username obligatorio.</div>
                                    </div>
                                </md-input-container>                 


                                <md-input-container class="md-block">
                                    <label>Email</label>
                                    <input md-no-asterisk required type="text" name="email" ng-model="email"
                                           maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                                    <div ng-messages="userForm.email.$error" role="alert">
                                        <div ng-message-exp="['required', 'maxlength', 'pattern']">
                                            Email incorrecto.
                                        </div>
                                    </div>
                                </md-input-container>
                                
 
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Asunto</label>
                                    <input ng-model="userForm.asunto">
                                </md-input-container>
 
                                
                                <md-input-container class="md-block">
                                    <label>Mensaje</label>
                                    <textarea ng-model="userForm.mensaje" md-maxlength="350" rows="5" md-select-on-focus></textarea>
                                </md-input-container>


                                <input class="botonAdmin px-4" type="button" name="submitMessage" ng-click="enviar()" value="Enviar">

                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 text-center">
                        <div class="white_box">
                            <h5 class="pb-3">Nos puedes encontrar en:</h5>
                            <br><br>
                            <p>Tailor Shop, S.L.</p>
                            <p>Plaza Lorem Ipsum, 1<br>01001 - Valencia</p>
                            <hr class="separadorContacto">            
                            <p class="mb-0 hvr-icon-buzz-out"><i class="hvr-icon fas fa-phone enlaceContacto">&nbsp;</i> +34 961 100 100</p>
                            <p class="mb-0 hvr-icon-grow-rotate"><i class="hvr-icon fas fa-at enlaceContacto"></i>&nbsp;<a href="mailto:tailorShop@gmail.com" class="enlaceContacto2"> tailorShop@gmail.com</a></p>
                            <p class="hvr-icon-up"><i class="hvr-icon fas fa-map-marker-alt enlaceContacto"></i>&nbsp;<a href="https://goo.gl/maps/NGEHtwwP2VP2" target="_blank" class="enlaceContacto2"> Ver en google maps</a></p>
                            <hr class="separadorContacto">   
                            <p class="text-center pt-4">
                                <!--<div classbounceIn="option animated bounceIn animate">-->                        
                                <i class="fab fa-2x fa-facebook-square p-2"></i>               
                                <i class="fab fa-2x fa-instagram p-2"></i> 
                                <i class="fab fa-2x fa-twitter-square p-2"></i>
                            </p>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>

        </div>


        <div class="row no-gutters">
            <div class="col-md-12 col-lg-8 mx-auto">
                <h5 class="mt-5 pt-5 pb-3 text-center">Newsletter</h5>
                <input class="mx-auto mb-3 form-control formEmail" type="email" id="email" placeholder="Escribe aqui tu e-mail y recibiras todas las novedades :)" />
                <div class="col-md-12 text-center mb-5">
                    <button class="buttonEmail px-4">Enviar</button>
                </div>
            </div>
        </div>