<!--<header ng-include="'js/app/header.html'"></header>-->
<header-component></header-component>

<div class="row no-gutters">

    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera mb-0"></div>
            <div class="col-md-8">
                <div class="fondoCabecera mb-0">
                    <div class="mb-0">Editar producto</div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera mb-0"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-md-8 edit pt-0" style="margin-top: 50px;">

                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="py-1 tituloView">
                        </div>
                    </div>
                </div>

                <form name="userForm" ng-show="!edit"> 
                    <div class="row no-gutters formEdit">

                        <div class="col-md-4 pl-3">
                            <div class="row">
                                <div class="col-md-12 mx-auto pt-5">
                                    <div class="mx-auto pb-2 fotoPerfil profile-picture image-upload fotoEditar">
                                        <img ng-model="foto" class="mx-auto my-auto" id="output" ng-src="http://localhost:8081/imagenes/{{foto}}">
                                    </div>
                                    <label class="hiddenfile">                           
                                        <input id="prueba" type="file" file-model="myFile" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" ng-model="foto"/>
                                    </label> 
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 pr-4 pb-4 pt-4">

                            <div class="form-group"> 
                                <label for="id" class="labelEdit col-form-label">Id</label>
                                <input ng-model="id" class="pl-1 form-control" name="id" type="text" ng-disabled="true" />
                            </div>


                            <md-input-container class="md-block mt-5">
                                <label>Código</label>
                                <input md-no-asterisk required name="codigo" ng-model="codigo">
                                <div ng-messages="userForm.codigo.$error" role="alert">
                                    <div ng-message="required">
                                        Código incorrecto.
                                    </div>
                                </div>
                            </md-input-container>

                            <!--                            <div class="form-group"> 
                                                            <label for="codigo" class="col-form-label">Codigo</label>
                                                            <input ng-model="codigo" class="form-control" name="codigo" type="text" ng-required="true" />
                                                            <div ng-show="!userForm.codigo.$valid" class="alert alert-danger" role="alert">
                                                                Codigo obligatorio
                                                            </div>
                                                        </div>-->

                            <md-input-container class="md-block mt-4">
                                <label>Descripción</label>
                                <input md-no-asterisk required name="desc" ng-model="desc">
                                <div ng-messages="userForm.desc.$error" role="alert">
                                    <div ng-message="required">
                                        Descripción obligatoria.
                                    </div>
                                </div>
                            </md-input-container>

                            <!--                            <div class="form-group"> 
                                                            <label for="desc" class="col-form-label">descripcion</label>
                                                            <input ng-model="desc" class="form-control" name="desc" type="text" ng-required="true" />
                                                            <div ng-show="!userForm.desc.$valid" class="alert alert-danger" role="alert">
                                                                descripcion obligatoria
                                                            </div>
                                                        </div>-->

                            <md-input-container class="md-block mt-4" flex-gt-sm>
                                <label>Existencias</label>
                                <input md-no-asterisk name="existencias" ng-model="existencias"
                                       required type="number">

                                <div ng-messages="userForm.existencias.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">
                                        Existencias obligatorias.
                                    </div>
                                </div>
                            </md-input-container>

                            <!--                            <div class="form-group"> 
                                                            <label for="existencias" class="col-form-label">Existencias</label>
                                                            <input ng-model="existencias" class="form-control" name="existencias" type="text" ng-required="true" />
                                                            <div ng-show="!userForm.existencias.$valid" class="alert alert-danger" role="alert">
                                                                Existencias obligatorias
                                                            </div>
                                                        </div>-->

                            <md-input-container class="md-icon-float md-icon-right md-block mt-4 mb-1">
                                <label>Precio</label>
                                <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
                                <input md-no-asterisk required name="precio" ng-model="precio" type="number" step="0.01">
                                <md-icon><i class="material-icons">euro_symbol</i></md-icon>
                                <div ng-messages="userForm.precio.$error" role="alert">
                                    <div ng-message="required">
                                        Precio obligatorio.
                                    </div>
                                </div>
                            </md-input-container>

                            <!--                            <div class="form-group"> 
                                                            <label for="precio" class="col-form-label">Precio</label>
                                                            <input ng-model="precio" class="form-control" name="precio" type="text" ng-required="true" />
                                                            <div ng-show="!userForm.precio.$valid" class="alert alert-danger" role="alert">
                                                                Precio obligatorio
                                                            </div>
                                                        </div>-->



                            <div class="form-group">
                                <label class="labelEdit">Tipo Producto</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control pl-1 mr-0" id="obj_tipoProducto.desc" name="obj_tipoProducto.desc" ng-model="obj_tipoProducto.desc"
                                           ng-click="modal()" disabled/>
                                    <div class="editButton input-group-append">
                                        <button type="button" class="btn btn-outline-secondary ml-0" data-toggle="modal" data-target="#cadd-location-modal">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="vehicle1" value="" ng-model="novedad">Novedad<br>
                            </div>

                            <div class="d-flex justify-content-between flex-wrap">
                                <button ng-click="guardar()" type="button" class="btn btn-info mt-2 ml-0">Guardar</button>
                                <button class="btn botonAdmin mt-2" onClick="javascript:history.go(-1);">Volver</button>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="row" ng-show="edit">
                    <div class="col-12">
                        <div class="card mx-auto" style="margin-top: 60px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                            <div class="card-body">
                                <h4 class="card-title" style="text-align: center;">{{resultado}}</h4>
                                <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                                    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
<!--<footer-component></footer-component>-->

<!--Componenete modal-->
<cadd-modal-var class="modal fade ng-isolate-scope" id="cadd-location-modal" tabla="'tipoproducto'" data="obj_tipoProducto" aria-hidden="true"
                style="display: none;"></cadd-modal-var>