<header-component></header-component>

<div class="row no-gutters">

    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <!--<div class="col-md-1 col-lg-2 fondoCabecera mb-0"></div>-->
            <div class="col-md-12 margen-titulo">
                <div class="fondoCabecera mb-0 margen-titulo">
                    <div class="mb-0">{{titulo}}</div>
                </div>
            </div>
            <!--<div class="col-md-1 col-lg-2 fondoCabecera mb-0"></div>-->
        </div>
        <div class="row no-gutters productos-flex">
            <!--<div class="col-md-1 col-lg-2"></div>-->

            <div class="col-md-10 col-lg-8" style="margin-top: 50px;">

                <!--Tabla de contenidos-->   
                <div class="row centrar-productos">

                    <div class="m-2 p-2" ng-repeat="producto in productos">

                        <div class="card">
                            <img ng-src="http://localhost:8081/imagenesPatchwork/{{producto.producto.foto}}" alt="foto" class="card-img-top" style="width: 250px;" >
                            <div class="card-body mx-auto">
                                <h3 class="h5 card-title">{{producto.producto.desc}}</h3>
                                <p ng-show="tipo != 1" class="card-text">Precio: {{producto.producto.precio}} €</p>
                                <p ng-show="tipo == 1" class="card-text">Precio: {{producto.producto.precio}} €/metro</p>

                                <div ng-show="producto.producto.existencias > 0">
                                    <button type="button" class="botonAdmin ml-0 btn btn-outline-dark add-to-cart{{$index}}" ng-click="save(producto, this)">
                                        <i class="fas fa-shopping-cart"></i> Comprar</button>
                                    <button type="button" class="buttonFav ml-0 btn btn-outline-dark add-to-cart{{$index}}" ng-click="checkFav(producto, this)">
                                        <i class="fas fa-heart"></i></button>

                                </div>

                                <div class="row" ng-show="producto.producto.existencias <= 0">
                                    <div class="col-12">
                                        <div class="alert alert-danger mb-0" style="border-radius: 5px" role="alert">
                                            ¡Sin existencias!
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!--Paginacion vecindario-->     
                <nav aria-label="paginacion">
                    <ul class="pagination justify-content-center p-5">
                        <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                            <a class="page-link" href="producto/plistUsuario/{{rpp}}/1/{{order}}{{tipo}}"><span>&laquo;</span></a>
                        </li>
                        <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                            <a class="page-link" href="producto/plistUsuario/{{rpp}}/{{page - 1}}/{{order}}{{tipo}}"><span>&lsaquo;</span></a>
                        </li>

                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="producto/plistUsuario/{{rpp}}/{{p}}/{{order}}{{tipo}}">{{p}}</a>
                        </li>
                        <li class="page-item"  ng-class="{'disabled':(page == totalPages)}">
                            <a class="page-link" href="producto/plistUsuario/{{rpp}}/{{page--1}}/{{order}}{{tipo}}"><span>&rsaquo;</span></a>
                        </li>
                        <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                            <a class="page-link" href="producto/plistUsuario/{{rpp}}/{{totalPages}}/{{order}}{{tipo}}"><span>&raquo;</span></a>
                        </li>                 
                    </ul>
                </nav>

            </div>

            <!--<div class="col-md-1 col-lg-2"></div>-->
        </div>
    </div>
</div>

