<!--<header ng-include="'js/app/header.html'"></header>-->
<header-component></header-component>

<div class="row no-gutters">
    <div role="main" class="col-md-12">

        <div class="row no-gutters">
            <div class="col-md-2 fondoCabecera mb-0"></div>
            <div class="col-md-8">
                <div class="fondoCabecera mb-0">
                    <div class="mb-0">{{titulo}}</div>
                </div>
            </div>
            <div class="col-md-2 fondoCabecera mb-0"></div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-2"></div>

            <div class="col-md-8" style="margin-top: 50px;">


                <!--Tabla de contenidos-->   
                <div class="row d-flex justify-content-between">

                    <!--<div class="hvr-border-fade hvr-float-shadow product" style="width: 15rem; height: 22rem; margin: 5px; border-width: 0px; border-radius: 12px;" ng-repeat="producto in productos">-->
                    <div class="m-2 p-2" ng-repeat="producto in productos">

                        <div class="card">
                            <!--<img src="https://github.com/neel6762/Free-Code-Camp-Prdocuct-Landing-Page-/blob/master/src/img/choclatecard.jpg?raw=true" alt="choclate" class="card-img-top">-->
                            <img ng-src="http://localhost:8081/imagenes/{{producto.producto.foto}}" alt="foto" class="card-img-top" style="width: 250px;" >
                            <div class="card-body mx-auto">
                                <h3 class="h5 card-title">{{producto.producto.desc}}</h3>
                                <p class="card-text">Precio: {{producto.producto.precio}} €</p>

                                <div ng-show="producto.producto.existencias > 0">
                                    <button type="button" class="ml-0 btn botonAdmin add-to-cart{{$index}}" ng-click="save(producto, this)">
                                        <i class="fas fa-shopping-cart"></i> Add cart</button>
                                    <button type="button" class="ml-0 btn buttonFav add-to-cart{{$index}}" ng-click="removeFav(producto, this)">
                                        <i class="fas fa-trash"></i></button>

                                </div>

                                <div class="row" ng-show="producto.producto.existencias <= 0">
                                    <div class="col-12">
                                        <div class="alert alert-danger mb-0" style="border-radius: 5px" role="alert">
                                            Sin existencias!
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                
                     <div class="row no-gutters pb-5 mb-5" ng-show="fav">
                    <div class="col-7 mx-auto text-center py-4">
                        <div class="card mx-auto view my-5">
                            <div class="card-body p-5">
                                <h4 class="card-title" style="text-align: center;">Oh no. ¡Tu lista de deseos está vacía!</h4>
                                <div class="d-flex justify-content-center align-items-center pt-3" role="alert">
                                    <!--<button type="button" class="btn botonAdmin ml-0" onclick="window.history.back()">Seguir comprando</button>-->
                                    <a href="producto/plistUsuario/1" class="btn botonAdmin mt-2 ml-0" role="button">Añadir favoritos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                


                <!--Paginacion vecindario-->     
                <nav aria-label="paginacion">
                    <ul class="pagination justify-content-center p-5">
                        <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                            <a class="page-link" href="{{ob}}/{{op}}/{{rpp}}/1/{{order}}{{id}}/{{usuario}}"><span>&laquo;</span></a>
                        </li>
                        <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                            <a class="page-link" href="{{ob}}/{{op}}/{{rpp}}/{{page - 1}}/{{order}}{{id}}/{{usuario}}"><span>&lsaquo;</span></a>
                        </li>

                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="{{ob}}/{{op}}/{{rpp}}/{{p}}/{{order}}{{id}}/{{usuario}}">{{p}}</a>
                        </li>
                        <li class="page-item"  ng-class="{'disabled':(page == totalPages)}">
                            <a class="page-link" href="{{ob}}/{{op}}/{{rpp}}/{{page--1}}/{{order}}{{id}}/{{usuario}}"><span>&rsaquo;</span></a>
                        </li>
                        <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                            <a class="page-link" href="{{ob}}/{{op}}/{{rpp}}/{{totalPages}}/{{order}}{{id}}/{{usuario}}"><span>&raquo;</span></a>
                        </li>                 
                    </ul>
                </nav>

            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
<!--<footer-component></footer-component>-->
