@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@font-face {font-family:'ParryPro';font-style:normal;}


/**************** GENERICO ****************/

html {
    overflow: initial !important;
    background: white;
}

body {
    font-family: "varela round", sans-serif;
}


::placeholder { 
    color: gray; 
    opacity: 0.4!important;
}

/*.ng-scope {
    background: #fafafa;
}*/

small {
    font-size: 60%;
}


/**** BOTONES NORMALES ****/ 

.btn-outline-secondary {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #aaaaaa;
}

.btn-secondary {
    background-color: gray;
    border: none;
    border-radius: 0px;
}

.btn-info {
    background-color: #8ABC4D!important;
    border-radius: 0px;
    padding: 10px 30px;
    border: none;
}

.btn-info:hover {
    background-color: green;
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);
}

.btn-outline-info {
    color: #8ABC4D;
    background-color: transparent;
    border-color: #8ABC4D;
}

.buttonFav {
    border-radius: 0px;
    border-color:gray;
    padding: 9px 18px;
    color: gray;
}

.buttonFav:hover {
    color: #fff;
    background-color: gray;
    border-color: gray;
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);
}


/**** BOTONES ADMIN ****/ 
/*Para hacer invisible el color de fondo de los botones de accion*/
.btn-light {
    color: black;
    background-color: rgba(70, 98, 127, 0) !important; 
    border-color: rgba(70, 98, 127, 0) !important; 
}

.botonAdmin {
    background: gray !important;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 0px;
    border-radius: 0px;
    padding: 10px 30px;
}

.botonAdmin:hover {
    background: darkgray;
    border: 0;
    color: white;
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);
}

/**** BOTON ADD ARCHIVO ****/
.fileContainer {
    overflow: hidden;
    position: relative;
    background: gray;
    color: white;
    border-radius: 0px;
    padding: 5px;
    text-align: center;
    width: 160px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}


/**** COLOR ENLACES ****/
.enlaceColor {
    color: #8ABC4D!important;
    text-decoration: none; 
}


a.enlaceColor {
    color: #8ABC4D!important;
    text-decoration: none; 
}

a.enlaceColorUnder {
    color: #8ABC4D!important;
    text-decoration: none; 
}

a.enlaceColorUnder:hover {
    color: #8ABC4D!important;
    text-decoration: underline; 
}

.enlaceLogout {
    color: #E23164!important;
    text-decoration: none; 
}

a.enlacefa {
    color: #212529!important;
}



/**** PAGINACION VECINDARIO + RPP ****/
.pagination > li > a {
    background-color: white;
    color: gray;
    padding: 0.5rem 0.9rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #8ABC4D!important;
    border: solid 1px #8ABC4D!important;
}

.pagination > .active > a:hover {
    background-color: darkgray!important;
    border: solid 1px darkgray!important;
}

.pagination li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
    margin: 3px;
}




/**************** HEADER ****************/

.filtro:hover {
    content: '';
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
}

/******** PRIMER NAV *******/
.logo {
    width: 150px;
}

.linksNav a {
    padding: 10px;
    font-size: 13px;
    color: rgb(49, 49, 49);
    font-weight: 450;
    letter-spacing: 1.3px;
    text-decoration: none !important;
}

.hoverNav:hover {
    border-bottom: 1px solid gray !important;
}



/******* BOTONES BUSCAR, PERFIL Y CARRITO *******/


/*BUSQUEDA HOVER*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container {
    padding: 10px;
}

.search-container {
    overflow: hidden;
    float: right;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
/*Desplegado*/
.search-container:hover, .search-container:focus, .search-container:focus-within {
    width: 25em;
    border-radius: 5px 2em 2em 5px;
    outline: none;
}
.search-container:hover input, .search-container:focus input, .search-container:focus-within input {
    display: inline-block;
    width: 19em;
    padding: 10px;
}

.input2 {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);*/
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.input2:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    background-color: #E23164;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .25) 50%, transparent 10%), -webkit-linear-gradient(rgba(0, 0, 0, .25) 50%, transparent 50%);
    background-size: 10px 10px;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.button:active {
    border: 0 !important;
    text-shadow: 0 0 0;
}

/*.button:hover, .buttonGreen:hover, .buttonBlue:hover {
    color: white;
    text-decoration: none;
}*/

.button:hover {
    color: white;
    text-decoration: none;
    background-size: 20px 20px;
}

.buttonHeader {
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
}

/*FIN BOTON BUSQUEDA*/


/*BOLITAS HEADER*/

.buttonBlue {
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    background-color: #7968a8;
    box-shadow: 0 0 0 3px #7968a8, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    background-image: -webkit-linear-gradient(90deg, transparent 50%, rgba(99, 138, 190, 1) 50%);
    background-size: 8px 8px;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.buttonBlue:hover {
    background-color: #638ABE;
    background-image: -webkit-linear-gradient(90deg, transparent 50%, rgba(121, 104, 168, 1) 50%);
    color: #FDF6E3;
    text-decoration: none;
    background-size: 16px 16px;
}

.buttonGreen {
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    box-shadow: 0 0 0 3px #8ABC4D, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    background: -webkit-radial-gradient(#e8b15e 4px, transparent 6px);
    background-size: 20px 20px;
    background-image: -webkit-radial-gradient(#e8b15e 15%, transparent 16%), -webkit-radial-gradient(#e8b15e 15%, transparent 16%);
    background-color: #8ABC4D;
    background-size: 30px 30px;
    background-position: 0 0, 20px 20px;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.buttonGreen:hover {
    background-color: #e8b15e;
    background-image: -webkit-radial-gradient(#8ABC4D 15%, transparent 16%), -webkit-radial-gradient(#8ABC4D 15%, transparent 16%);
    color: #FDF6E3;
    text-decoration: none;
}

.botonHeader {
    overflow: hidden;
    float: right;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
    margin: 10px;
}


/*COLOR Y TAMANYO DE LOS ICONOS*/
.menuText {
    font-size: 21px;
}
.menuTextPerfil {
    font-size: 26px;
}

.redondelText {
    color: white;
    font-size: 15px;
    padding-left: 5px;
}

.redondel {
    color: white;
    vertical-align: center;
    width: 26px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #17a2b8!important;
    text-decoration: none; 
}

#menuBall3, #menuBall4 {
    margin: 10px;
}

/**************** FIN HEADER ****************/




/**************** NOVEDADES TELAS ****************/

.tituloSeccion {
    font-size: 30px;
    letter-spacing: 4px;
    font-family: "varela round", sans-serif;    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-top: 50px;
}

.tela {
    width: 250px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 0px;
}

.tela .card-body {
    margin: 0px !important;
    text-align: center;
}

.tela img {
    padding: 15px;
    max-width: 100%;
}




/************ SIGN IN / SIGN UP (FORMULARIO) ************/

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:755px;
    position:relative;
    /*background:url(https://i.pinimg.com/564x/11/84/9c/11849caeb53059e9e57036ca0be41243.jpg) no-repeat center;*/
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    line-height: 1!important;
    z-index: 1;
    float: left;
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding: 30px 40px;
    background:rgba(49,49,49,.9);
}

/*animación*/
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}

/*titulo*/
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}

.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:15px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
    color: gray;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color: #8ABC4D;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}

.login-form .group .button{
    background:#8ABC4D;
}

.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}

.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}


.imgForm {
    width: 100%;
    height: 755px;
    margin-bottom: 100px;
    z-index: 2;
    float: right;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.authenticate-user {
    display: flex;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex: 1 1;
    padding: 32px;
}

/*ANGULAR MATERIAL FORMULARIO*/

.md-block input{
    border-bottom: 1px solid #aaa;
}

/* When the input is not focused */
md-input-container label {
    color: #aaa;
}

/* When the input is focused */
md-input-container.md-input-focused label {
    color: #aaa;
}

/*texto cuando se escribe*/
md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: #aaa;
}

/*input movido arriba mientras se escribe y al confirmar*/
md-input-container:not(.md-input-invalid).md-input-has-value label {
    color:  #aaa;
}

/*Para la linea de abajo en verde*/
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    /*color:  #aaa;*/
    border-color: #8ABC4D;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color:  #aaa;
}


/************ CONTACTO (EMAIL) ************/

#email {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8ABC4D;
    padding-bottom: 15px;
}

.formEmail {
    width: 70% !important;
    border-radius: 0px !important;
}

.buttonEmail {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 0px;
    text-align: center;
}

.buttonEmail:hover {
    background: darkgray;
    border: 0;
    color: white;
}

.formEmail::-webkit-input-placeholder {
    text-align: center;
}

.separadorContacto {
    border: 0;
    height: 1px;
    background: #999;
    background-image: linear-gradient(to right, #f7f7f7, #999, #f7f7f7);
    margin: 2.2em auto 2em;
    width: 80%;
}

.white_box {
    border: 1px solid #f1f1f1;
    margin: 20px 20px 20px 0px;
    padding: 30px;
    box-sizing: border-box;
}



/************ HORARIO ************/

.horario {
    background-image: url("../images/horario1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);

}

.horario table {
    background-color: rgba(255, 255, 255, 0.9);
}


/************ ABOUT US ************/

.fondoCabecera {
    padding: 30px 0px;
    margin-bottom: 50px;
    background: url("https://d3u3xhd9tobx8a.cloudfront.net/static/global/back_topMOBILE_desat.png");
    font-family: 'Yantramanav', sans-serif;
    font-size: 45px;
}


.fotoAbout {
    width: 200px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 0px;
}

.fotoAbout img {
    padding: 10px;
    max-width: 100%;
}

/************ CARRITO ************/
.fotoCarrito {
    width: 250px; 
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tituloCarrito {
    font-size: 30px;
    margin-top: 20px;
}

.textoCarrito  {
    font-size: 20px;
    margin-top: 20px;
    color: gray;
    font-family: 'Yantramanav', sans-serif;
}
.inputCantidad {
    padding: 7px!important;
    border-right: none;
    background: white;
}

.subtotal {
    padding: 25px;
    margin-top: 20px;
    background: #efefef;
    display: inline-block;
    float: right;
}

/*GROUP BOTON ANGULAR JS MATERIAL*/
.groupX {
    font-size: 16px;
    margin: 0px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}

.md-button.left {
    border-radius: 10px 0 0 10px;
}

.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.md-button.right {
    border-radius: 0 10px 10px 0;
    background: gray;
    color: white;
}

.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    /*color: rgba(44, 65, 164, 0.96);*/
    color: white;
    transition: 0.3s;
}
.md-button {
    min-width: 44px;
}


/************ FOOTER ************/

.textoTailor {
    font-size: 13px;
    color: gray;
    letter-spacing: 0.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footBackground {
    background: #fafafa;
}

/*.footer {
    opacity: 1;
    width: 100%;
    Set the fixed height of the footer here 
    height: 50px;
    Vertically center the text there
    line-height: 50px;   
    background-color: #b0b0b0;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    background: TAN;
    padding: 30px;
}*/

.foot a {
    color: black;
}

.foot a:hover {
    color: gray;
}

.foot {
    margin-bottom: 20px;
}

.textoFooter {
    font-size: 17px;
    font-family: "varela round", sans-serif;
}

.terminosFooter>a {
    font-size: 13px;
    color: gray;
}

.terminosFooter>a:hover {
    font-size: 13px;
    color: rgb(49, 49, 49);
}




/************ BOTONES REDES SOCIALES (INSTAGRAM,FACEBOOK Y TWITTER) ************/
/* redondel boton Insta*/
.hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: PURPLE;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* redondel boton Face */
.faceball {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #2e487a;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* redondel boton Twitter */
.twitball {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #00aced;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* Parte superior de la I partida */
.hover:before, .hover:after {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
    background-image: linear-gradient(to top right, #F35834, #EC2B49, #DB0271, #AB0B9E, #6C1CCF, #383DED);
}

/* Parte superior de la F partida */
.faceball:before, .faceball:after {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
    background-color: #2e487a;
}

/* Parte superior de la T partida */
.twitball:before, .twitball:after {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
    background-color: #00aced;
}

/* Mitad izquierda del hover insta */
.hover:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-image: linear-gradient(to top right, #FBD67A, #F5923D, #F35834, #EC2B49, #DB0271);
}

/* Mitad izquierda del hover face*/
.faceball:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color: #2e487a;
}

/* Mitad izquierda del hover twitter*/
.twitball:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color: #00aced;
}

/* Mitad derecha del hover insta*/
.hover:after {
    content: '';
    bottom: 0;
    justify-content: flex-start;
}

/* Mitad derecha del hover  facebook*/
.faceball:after {
    content: '';
    bottom: 0;
    justify-content: flex-start;
}

/* Mitad derecha del hover  twitter*/
.twitball:after {
    content: '';
    bottom: 0;
    justify-content: flex-start;
}

/* Fondo insta*/
.hover:hover {
    background-image: linear-gradient(to top right, #FBD67A, #F5923D, #F35834, #EC2B49, #DB0271, #AB0B9E, #6C1CCF, #383DED);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Fondo face */
.faceball:hover {
    background-color: #2e487a;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Fondo twitter */
.twitball:hover {
    background-color: #00aced;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Para ocultar la letra I*/
.hover:hover span {
    opacity: 0;
    z-index: -3;
}

/* Para ocultar la letra F*/
.faceball:hover span {
    opacity: 0;
    z-index: -3;
}

/* Para ocultar la letra T*/
.twitball:hover span {
    opacity: 0;
    z-index: -3;
}

/* Para ocultar la mitad lado izquierdo insta */
.hover:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

/* Para ocultar la mitad lado izquierdo face*/
.faceball:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

/* Para ocultar la mitad lado izquierdo twitter*/
.twitball:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

/* Para ocultar la mitad lado derecho insta*/
.hover:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

/* Para ocultar la mitad lado derecho face*/
.faceball:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

/* Para ocultar la mitad lado derecho twitter*/
.twitball:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

/* Letra y logo, no funciona con svg's insta*/
.hover span {
    position: absolute;
    top: 2px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Letra y logo, no funciona con svg's face*/
.faceball span {
    position: absolute;
    top: -1px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Letra y logo, no funciona con svg's twitter*/
.twitball span {
    position: absolute;
    top: -1px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Logo insta*/
.hover .social-link {
    position: relative;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

/* Logo face*/
.faceball .social-link {
    position: relative;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

/* Logo twitter*/
.twitball .social-link {
    position: relative;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

/* sombra Logo insta*/
.hover .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* sombra Logo face*/
.faceball .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* sombra Logo twitter*/
.twitball .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Animacion del logo insta*/
.hover .social-link:hover i {
    animation: pulse 1s linear;
}

/* Animacion del logo face*/
.faceball .social-link:hover i {
    animation: pulse 1s linear;
}

/* Animacion del logo twitter*/
.twitball .social-link:hover i {
    animation: pulse 1s linear;
}

/*@keyframes pulse {
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}*/

.menuBallFooter {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
}

.face {
    width: 30px;
}

.twit {
    width: 26px;
}

.ins {
    width: 90px;
}
/************ FIN BOTONES REDES SOCIALES (INSTAGRAM,FACEBOOK Y TWITTER) ************/




/**************** ADMIN ****************/


/****** FOTO PERFIL ******/

.fotoPerfil img{
    border-radius: 50%;
    width: 128px; 
    height: 128px;
    margin: 15px;
}

/****** FOTO PERFIL EDIT ******/

.profile-picture {
    border-radius: 50%;
    margin-right: 20px;
    width: 128px; 
    height: 128px;
    /*float: right;*/
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: rgba(75, 78, 109, 0.3);
}

.profile-picture:after {
    z-index: 2;
    background-color: #363B6D;
    width: 100%;
    opacity: 0.8;
    content: "";
    position: absolute;
    bottom: 0px;
    height: 50px;
    color: white;
    content: "Cambiar";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    font-size: 18px;
    letter-spacing: 1px;
}
.profile-picture:hover:after {
    opacity: 1;
    height: 100%;
}


/**************** VIEW ****************/

.view {
    margin-top: 50px; 
    /*padding: 20px;*/ 
    /*width: 50%;*/ 
    background-color: WHITESMOKE;
    /*box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);*/
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.tituloView {
    background-color: gray;
    font-family: "varela round", sans-serif;
    color: white;
}

.profileName {
    /*color: #658585;*/
    /*color: gray;*/
    font-size: 2em;
    font-family: 'Yantramanav', sans-serif;
    /*font-family: "Coda", sans-serif;*/
    /*font-weight: bold;*/
}

.profileLogin {
    color: #E23164!important;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.profileDatos {
    color: gray;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

/**************** EDIT ****************/
.hiddenfile {
 width: 0px;
 height: 0px;
 overflow: hidden;
}

/*.material-icons {
    color: #6c757d;
    padding-right: 50px;
}*/

.editButton .fa-search:before {
    font-size: 20px;
}

.edit {
    margin-bottom: 100px;
    padding: 20px; 
    /*width: 70%;*/ 
    background-color: WHITESMOKE;
    /*box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);*/ 
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}
input {
    font-family: "varela round", sans-serif; 
}

.labelEdit {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
}

.form-control {
    border-radius: 0px;
}

.form-control:disabled {
    background-color: #f5f5f5;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    color: black;
} 

.input:disabled {
    color: black; 
}


/* When the input is not focused */
.formEdit md-input-container label {
    color: gray;
}

/* When the input is focused */
.formEdit md-input-container.md-input-focused label {
    color: gray;
}

/*texto cuando se escribe*/
.formEdit md-input-container.md-default-theme .md-input, md-input-container .md-input {
    color: black;
}

/*input movido arriba mientras se escribe y al confirmar*/
.formEdit md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: gray;
}

/*Para la linea de abajo en verde*/
.formEdit md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    /*color:  #aaa;*/
    border-color: #8ABC4D;
}
.formEdit md-input-container:not(.md-input-invalid).md-input-focused label {
    color: gray;
}



/*****************************************
----- CONDICIONALES DE MEDIA QUERIES -----
******************************************/

@media screen and (max-width: 1250px) { 

    th .dni {
        margin: 20px;
    }

}

/*Mover al sitio que corresponda */
.usucreado {
    color: black;
    padding: 20px;
    background-color: WHITESMOKE;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}




.image-upload > input
{
    /*    display: none;*/
}


/*outline:none  para eliminar borde en links*/



/*.subtituloSeccion {
    font-size: 50px;
    font-family: "varela round", sans-serif;    padding-top: 0px !important;
    margin-top: 0px!important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-top: -50px;
    vertical-align: baseline !important; 
}*/


/*.tela .text {
    padding: 0 20px 20px;
}*/

/*.tela .text>h3 {
    text-align: center;
    padding-top: 10px;
}*/

/*.tela .text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 0px;
    width: 100%;
}

.tela .text>button:hover {
    background: darkgray;
    border: 0;
    color: white;
}*/




/*.redondel {
    color: white;
    vertical-align: center;
    width: 26px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #17a2b8!important;
    text-decoration: none; 
}*/





/*button {
    margin-left: 20px;
}

input {
    margin-right: 20px;  
}

td, th {
    padding: 5px;
}



code {
    font-size: 80%;
}*/





/*.trol {
    font-family: 'Pacifico', cursive;
    font-size: 150%;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    /*position: relative;*/
    /*min-height: 100%;*/
}
body {
    /* Margin bottom by footer height 
       margin-bottom: 60px;
       margin: 0;*/
    /*height: 100%;*/
    /*    display: grid;
        grid-template-rows: auto auto auto;*/
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
  Vertically center the text there 
  line-height: 60px;  
  background-color: #f5f5f5;
}*/


/*  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
  }*/

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
    padding: 60px 0;
}*/

/*.footer > .container {
  padding-right: 0px;
  padding-left: 0px;
}*/


/* Pagina principal
-------------------------------------------------- */
/*
#logout {
    background: linear-gradient(to bottom, rgba(0,0,0,0.40) 100%, transparent), url('https://image.freepik.com/foto-gratis/tablero-medio-ingredientes-cocina_23-2147749529.jpg');
    background-size: cover, cover;
    background-position: center, center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout h1:before, h1:after {
    height: 0px !important;
}*/


/*#botoni {
    position: relative;
}

#botoni2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
}*/
/* Custom Hover.css
-------------------------------------------------- */

/* Border Fade */
/*.hvr-border-fade {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-border-fade:active,.hvr-border-fade:focus,.hvr-border-fade:hover {
    box-shadow:inset 0 0 0 2px #2098D1,0 0 1px rgba(0,0,0,0)
}*/


/************ PAGINACION VECINDARIO ************/

/*.paginationVecindario > li > a
{
    background-color: white;
    color: gray;
    padding: 0.5rem 0.9rem;
}

.paginationVecindario > li > a:focus,
.paginationVecindario > li > a:hover,
.paginationVecindario > li > span:focus,
.paginationVecindario > li > span:hover
{
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.paginationVecindario > .active > a
{
    color: white;
    background-color: #17a2b8!important;
    border: solid 1px #17a2b8!important;
}

.paginationVecindario > .active > a:hover
{
    background-color: darkgray!important;
    border: solid 1px darkgray!important;
}*/

/*.paginationVecindario li a {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
  margin: 3px;
}*/
