@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);

/**************** GENERICO ****************/

body {
    font-family: "varela round", sans-serif;
}

.ng-scope {
    background: #fafafa;
}


/**** BOTONES NORMALES ****/ 
.btn-info {
    background-color: #8ABC4D;
    border-radius: 0px;
    padding: 10px 30px;
    border: none;
}

.btn-info:hover {
    background-color: green;
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);
}


/**** BOTONES ADMIN ****/ 
/*Para hacer invisible el color de fondo de los botones de accion*/
.btn-light {
    color: black;
    background-color: rgba(70, 98, 127, 0) !important; 
    border-color: rgba(70, 98, 127, 0) !important; 
}

.botonAdmin {
    background: gray !important;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 0px;
    /*width: 100%;*/
    border-radius: 0px;
    padding: 10px 30px;
}

.botonAdmin:hover {
    background: darkgray;
    border: 0;
    color: white;
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);
    /*box-shadow: 6px 7px 21px -2px rgba(0,0,0,0.42);*/
}

/**** BOTON ADD ARCHIVO ****/
.fileContainer {
    overflow: hidden;
    position: relative;
    background: gray;
    color: white;
    border-radius: 0px;
    /*float: left;*/
    padding: 5px;
    text-align: center;
    width: 160px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}


/**** COLOR ENLACES ****/
.enlaceColor {
    color: #8ABC4D!important;
    text-decoration: none; 
}


a.enlaceColor {
    color: #8ABC4D!important;
    text-decoration: none; 
}

.enlaceLogout {
    color: #E23164!important;
    text-decoration: none; 
}

a.enlacefa {
    color: #212529!important;
}



/**** PAGINACION VECINDARIO + RPP ****/
.pagination > li > a {
    background-color: white;
    color: gray;
    padding: 0.5rem 0.9rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #8ABC4D!important;
    border: solid 1px #8ABC4D!important;
}

.pagination > .active > a:hover {
    background-color: darkgray!important;
    border: solid 1px darkgray!important;
}

.pagination li a {
    border: solid 1px #d7d7d7;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
    margin: 3px;
}




/**************** HEADER ****************/

.filtro:hover {
    content: '';
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
}

/******** PRIMER NAV *******/
.logo {
    width: 150px;
}

.linksNav a {
    padding: 10px;
    font-size: 13px;
    color: rgb(49, 49, 49);
    font-weight: 450;
    letter-spacing: 1.3px;
    text-decoration: none !important;
}

.hoverNav:hover {
    border-bottom: 1px solid gray !important;
}



/******* BOTONES BUSCAR, PERFIL Y CARRITO *******/

/*BOTON BUSQUEDA*/

/*BUSQUEDA HOVER*/
/** {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Cabin";
}*/

/*html {
  height: 100%;
}

body {
  height: 100%;
  background: #FDF6E3;
}*/

/*.containerBusqueda {
    display: block;
    max-width: 900px;
    margin: auto;
    padding: 100px;
    height: 100%;
    outline: none;
}*/

.search-container {
    overflow: hidden;
    float: right;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
.search-container:hover, .search-container:focus, .search-container:focus-within {
    width: 25em;
    border-radius: 5px 2em 2em 5px;
    outline: none;
}
.search-container:hover input, .search-container:focus input, .search-container:focus-within input {
    display: inline-block;
    width: 19em;
    padding: 10px;
}

.inputBusqueda {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.inputBusqueda:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    /*background: #6A5D4F;*/
    text-align: center;
    font-size: 2em;
    /* color: #FDF6E3;
     border-radius: 50%;
     box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
     text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);*/
}
/*.button i {
    margin-top: 0.3em;
}*/
.button:active {
    border: 0 !important;
    text-shadow: 0 0 0;
}

/*FIN BOTON BUSQUEDA*/

.menuBall {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
}

.ball {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed #fff;
    margin: 10px;
    text-decoration: none;
}

.ball:hover {
    animation: pulse 1s linear 1 normal;
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(50deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.redball {
    /*background-color: #d90e23;*/
    background-color: #E23164;
    /*box-shadow: 0 0 0 3px #d90e23, 2px 1px 6px 4px rgba(10, 10, 0, .5);*/
    box-shadow: 0 0 0 3px #E23164, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .25) 50%, transparent 10%), -webkit-linear-gradient(rgba(0, 0, 0, .25) 50%, transparent 50%);
    background-size: 10px 10px;
}

.blueball {
    background-color: #7968a8;
    box-shadow: 0 0 0 3px #7968a8, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    background-image: -webkit-linear-gradient(90deg, transparent 50%, rgba(99, 138, 190, 1) 50%);
    background-size: 8px 8px;
}

.greenball {
    /*box-shadow: 0 0 0 3px #65b37a, 2px 1px 6px 4px rgba(10, 10, 0, .5);*/
    box-shadow: 0 0 0 3px #8ABC4D, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    background: -webkit-radial-gradient(#e8b15e 4px, transparent 6px);
    background-size: 20px 20px;
    background-image: -webkit-radial-gradient(#e8b15e 15%, transparent 16%), -webkit-radial-gradient(#e8b15e 15%, transparent 16%);
    background-color: #8ABC4D;
    background-size: 30px 30px;
    background-position: 0 0, 20px 20px;
}

/*COLOR DE LOS ICONOS*/
.menuText {
    color: #ffffff;
}

#menuBall2 {
    animation: bump 6s linear .5s infinite normal;
}

#menuBall3 {
    animation: bump 6s linear 1s infinite normal;
}

#menuBall4 {
    animation: bump 6s linear 1.5s infinite normal;
}

@keyframes bump {
    0% {
        top: 0;
    }
    5% {
        top: 3px;
    }
    10% {
        top: 0;
    }
    100% {
        top: 0;
    }
}

/**************** FIN HEADER ****************/




/**************** NOVEDADES TELAS ****************/

.tituloSeccion {
    font-size: 30px;
    letter-spacing: 4px;
    font-family: "varela round", sans-serif;    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-top: 50px;
}

.tela {
    /*flex-grow: 0;*/
    width: 250px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 0px;
}

.tela .card-body {
    margin: 0px !important;
    text-align: center;
}

.tela img {
    padding: 15px;
    max-width: 100%;
}




/************ SIGN IN / SIGN UP (FORMULARIO) ************/

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    /*background:url(https://i.pinimg.com/564x/11/84/9c/11849caeb53059e9e57036ca0be41243.jpg) no-repeat center;*/
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding: 30px 40px;
    /*padding:90px 70px 50px 70px;*/
    background:rgba(49,49,49,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color: #a87c4f;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:10px 10px;
    border-radius:20px;
    outline: none;
    background:rgba(255,255,255,.1);
}

.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#a87c4f;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#a87c4f;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}




/************ CONTACTA (EMAIL) ************/

#email {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #8ABC4D;
    padding-bottom: 15px;
}

.formEmail {
    width: 70% !important;
    border-radius: 0px !important;
}

.buttonEmail {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 0px;
    text-align: center;
    /*width: 100%;*/
}

.buttonEmail:hover {
    background: darkgray;
    border: 0;
    color: white;
}

.formEmail::-webkit-input-placeholder {
    text-align: center;
}




/************ HORARIO ************/

.horario {
    background-image: url("../images/horario1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    /*opacity: 0.5;*/
    box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);

}

.horario table {
    background-color: rgba(255, 255, 255, 0.9);
}



/************ FOOTER ************/

.textoTailor {
    font-size: 13px;
    color: gray;
    letter-spacing: 0.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footBackground {
    background: #fafafa;
}

.footer {
    opacity: 1;
    width: 100%;
    /*Set the fixed height of the footer here*/ 
    height: 50px;
    /*Vertically center the text there*/
    line-height: 50px;   
    background-color: #b0b0b0;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    background: TAN;
    padding: 30px;
}

.foot a {
    /*display: inline;*/
    color: black;
}

.foot a:hover {
    color: gray;
}

.foot {
    margin-bottom: 20px;
}

.textoFooter {
    font-size: 17px;
    font-family: "varela round", sans-serif;
}

.terminosFooter>a {
    font-size: 13px;
    color: gray;
}

.terminosFooter>a:hover {
    font-size: 13px;
    color: rgb(49, 49, 49);
}




/************ BOTONES REDES SOCIALES (INSTAGRAM,FACEBOOK Y TWITTER) ************/
/* redondel boton Insta*/
.hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: PURPLE;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* redondel boton Face */
.faceball {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #2e487a;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* redondel boton Twitter */
.twitball {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: #00aced;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

/* Parte superior de la I partida */
.hover:before, .hover:after {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
    background-image: linear-gradient(to top right, #F35834, #EC2B49, #DB0271, #AB0B9E, #6C1CCF, #383DED);
}

/* Parte superior de la F partida */
.faceball:before, .faceball:after {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
    background-color: #2e487a;
}

/* Parte superior de la T partida */
.twitball:before, .twitball:after {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
    background-color: #00aced;
}

/* Mitad izquierda del hover insta */
.hover:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-image: linear-gradient(to top right, #FBD67A, #F5923D, #F35834, #EC2B49, #DB0271);
}

/* Mitad izquierda del hover face*/
.faceball:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color: #2e487a;
}

/* Mitad izquierda del hover twitter*/
.twitball:before {
    content: '';
    left: 0;
    justify-content: flex-end;
    background-color: #00aced;
}

/* Mitad derecha del hover insta*/
.hover:after {
    content: '';
    bottom: 0;
    justify-content: flex-start;
}

/* Mitad derecha del hover  facebook*/
.faceball:after {
    content: '';
    bottom: 0;
    justify-content: flex-start;
}

/* Mitad derecha del hover  twitter*/
.twitball:after {
    content: '';
    bottom: 0;
    justify-content: flex-start;
}

/* Fondo insta*/
.hover:hover {
    background-image: linear-gradient(to top right, #FBD67A, #F5923D, #F35834, #EC2B49, #DB0271, #AB0B9E, #6C1CCF, #383DED);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Fondo face */
.faceball:hover {
    background-color: #2e487a;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Fondo twitter */
.twitball:hover {
    background-color: #00aced;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Para ocultar la letra I*/
.hover:hover span {
    opacity: 0;
    z-index: -3;
}

/* Para ocultar la letra F*/
.faceball:hover span {
    opacity: 0;
    z-index: -3;
}

/* Para ocultar la letra T*/
.twitball:hover span {
    opacity: 0;
    z-index: -3;
}

/* Para ocultar la mitad lado izquierdo insta */
.hover:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

/* Para ocultar la mitad lado izquierdo face*/
.faceball:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

/* Para ocultar la mitad lado izquierdo twitter*/
.twitball:hover:before {
    opacity: 0.5;
    transform: translateY(-100%);
}

/* Para ocultar la mitad lado derecho insta*/
.hover:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

/* Para ocultar la mitad lado derecho face*/
.faceball:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

/* Para ocultar la mitad lado derecho twitter*/
.twitball:hover:after {
    opacity: 0.5;
    transform: translateY(100%);
}

/* Letra y logo, no funciona con svg's insta*/
.hover span {
    position: absolute;
    top: 2px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Letra y logo, no funciona con svg's face*/
.faceball span {
    position: absolute;
    top: -1px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Letra y logo, no funciona con svg's twitter*/
.twitball span {
    position: absolute;
    top: -1px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    text-shadow: 3px 3px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Logo insta*/
.hover .social-link {
    position: relative;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

/* Logo face*/
.faceball .social-link {
    position: relative;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

/* Logo twitter*/
.twitball .social-link {
    position: relative;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}

/* sombra Logo insta*/
.hover .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* sombra Logo face*/
.faceball .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* sombra Logo twitter*/
.twitball .social-link i {
    text-shadow: 1px 1px rgba(70, 98, 127, 0.7);
    transform: scale(1);
}

/* Animacion del logo insta*/
.hover .social-link:hover i {
    animation: pulse 1s linear;
}

/* Animacion del logo face*/
.faceball .social-link:hover i {
    animation: pulse 1s linear;
}

/* Animacion del logo twitter*/
.twitball .social-link:hover i {
    animation: pulse 1s linear;
}

@keyframes pulse {
    40% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.menuBallFooter {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 20px 10px;
}

.face {
    width: 30px;
}

.twit {
    width: 26px;
}

.ins {
    width: 90px;
}
/************ FIN BOTONES REDES SOCIALES (INSTAGRAM,FACEBOOK Y TWITTER) ************/




/**************** ADMIN ****************/


/****** FOTO PERFIL ******/

.fotoPerfil img{
    border-radius: 50%;
    width: 128px; 
    height: 128px;
    margin: 15px;
}

/****** FOTO PERFIL EDIT ******/

.profile-picture {
    border-radius: 50%;
    margin-right: 20px;
    width: 128px; 
    height: 128px;
    float: right;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: rgba(75, 78, 109, 0.3);
}
/*.profile-picture img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    object-fit: cover;
}*/
.profile-picture:after {
    z-index: 2;
    background-color: #363B6D;
    width: 100%;
    opacity: 0.8;
    content: "";
    position: absolute;
    bottom: 0px;
    height: 50px;
    color: white;
    content: "Cambiar";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    font-size: 18px;
    letter-spacing: 1px;
}
.profile-picture:hover:after {
    opacity: 1;
    height: 100%;
}


/**************** VIEW ****************/

.view {
    margin-top: 50px; 
    /*padding: 20px;*/ 
    /*width: 50%;*/ 
    background-color: WHITESMOKE;
    /*box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);*/
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.tituloView {
    background-color: gray;
    font-family: "varela round", sans-serif;
    color: white;
}

.profileName {
    /*color: #658585;*/
    /*color: gray;*/
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}

.profileLogin {
    color: #E23164!important;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.profileDatos {
    color: gray;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

/**************** EDIT ****************/

.edit {
    margin-bottom: 100px;
    padding: 20px; 
    /*width: 70%;*/ 
    background-color: WHITESMOKE;
    /*box-shadow: 2px 2px 5px -2px rgba(10,10,10,0.5);*/ 
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}
input {
    font-family: "varela round", sans-serif; 
}



/*****************************************
----- CONDICIONALES DE MEDIA QUERIES -----
******************************************/

@media screen and (max-width: 1250px) { 

    th .dni {
        margin: 20px;
    }

}





/*outline:none  para eliminar borde en links*/



/*.subtituloSeccion {
    font-size: 50px;
    font-family: "varela round", sans-serif;    padding-top: 0px !important;
    margin-top: 0px!important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-top: -50px;
    vertical-align: baseline !important; 
}*/


/*.tela .text {
    padding: 0 20px 20px;
}*/

/*.tela .text>h3 {
    text-align: center;
    padding-top: 10px;
}*/

/*.tela .text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    margin-left: 0px;
    width: 100%;
}

.tela .text>button:hover {
    background: darkgray;
    border: 0;
    color: white;
}*/




/*.redondel {
    color: white;
    vertical-align: center;
    width: 26px;
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #17a2b8!important;
    text-decoration: none; 
}*/





/*button {
    margin-left: 20px;
}

input {
    margin-right: 20px;  
}

td, th {
    padding: 5px;
}



code {
    font-size: 80%;
}*/


/*small {
    font-size: 20px;
}*/


/*.trol {
    font-family: 'Pacifico', cursive;
    font-size: 150%;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    /*position: relative;*/
    /*min-height: 100%;*/
}
body {
    /* Margin bottom by footer height 
       margin-bottom: 60px;
       margin: 0;*/
    /*height: 100%;*/
    /*    display: grid;
        grid-template-rows: auto auto auto;*/
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
  Vertically center the text there 
  line-height: 60px;  
  background-color: #f5f5f5;
}*/


/*  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
  }*/

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
    padding: 60px 0;
}*/

/*.footer > .container {
  padding-right: 0px;
  padding-left: 0px;
}*/


/* Pagina principal
-------------------------------------------------- */
/*
#logout {
    background: linear-gradient(to bottom, rgba(0,0,0,0.40) 100%, transparent), url('https://image.freepik.com/foto-gratis/tablero-medio-ingredientes-cocina_23-2147749529.jpg');
    background-size: cover, cover;
    background-position: center, center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout h1:before, h1:after {
    height: 0px !important;
}*/


/*#botoni {
    position: relative;
}

#botoni2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
}*/
/* Custom Hover.css
-------------------------------------------------- */

/* Border Fade */
/*.hvr-border-fade {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-border-fade:active,.hvr-border-fade:focus,.hvr-border-fade:hover {
    box-shadow:inset 0 0 0 2px #2098D1,0 0 1px rgba(0,0,0,0)
}*/


/************ PAGINACION VECINDARIO ************/

/*.paginationVecindario > li > a
{
    background-color: white;
    color: gray;
    padding: 0.5rem 0.9rem;
}

.paginationVecindario > li > a:focus,
.paginationVecindario > li > a:hover,
.paginationVecindario > li > span:focus,
.paginationVecindario > li > span:hover
{
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.paginationVecindario > .active > a
{
    color: white;
    background-color: #17a2b8!important;
    border: solid 1px #17a2b8!important;
}

.paginationVecindario > .active > a:hover
{
    background-color: darkgray!important;
    border: solid 1px darkgray!important;
}*/

/*.paginationVecindario li a {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
  margin: 3px;
}*/
