

<!--<div class="footer">
    <div class="d-flex align-items-center justify-content-center">
        <span>@2018 - Yolanda Camarasa C. - 2o DAW</span>
    </div>
</div>-->


<!-- Footer -->
<div class="row no-gutters">
    <div class="col-md-12 border-bottom my-5"></div>
</div>
<div class="row no-gutters">
    <div class="col-md-12 text-center">
        <img src="images/logo-01_animated.svg" alt="Logo" class="logo mb-4">
    </div>
    <div class="textoFooter mb-5 mx-auto text-center">El único lugar donde podrás elegir entre más de mil telas distintas.</div>
</div>
<div class="row mx-auto">
    <input class="mx-auto mb-3 form-control" type="email" id="email" placeholder="Introduce tu email" />
</div>

<div class="row no-gutters">
    <div class="foot">
        <a class="nav-link" href="#">Cómo Comprar</a>
        <a class="nav-link" href="#">Formas de pago</a>
        <a class="nav-link" href="#">Envíos y devoluciones</a>
    </div>
</div>
<div class="row no-gutters">
    <div class="contenedorBotones pb-3 mx-auto">
        <div class="menuBallFooter faceball">
            <span> <img class="face bounce-in-right " src="images/f.svg" alt="face"></span>
            <a class="social-link" href="#" target="_blank">
                <i class="fab fa-facebook-square fa-1x"></i>
            </a>
        </div>
        <div class="hover menuBallFooter">
            <span> <img class="ins bounce-in-right " src="images/i.svg" alt="insta"></span>
            <a class="social-link" href="#" target="_blank">
                <i class="fab fa-instagram fa-1x"></i>
            </a>
        </div>
        <div class="menuBallFooter twitball">
            <span><img class="twit bounce-in-right" src="images/t.png" alt="twitter" /></span>
            <a class="social-link" href="#" target="_blank">
                <i class="fab fa-twitter fa-1x"></i>
            </a>
        </div>
    </div>
</div>
<!-- Terminos y condiciones -->
<div class="row mt-5 no-gutters">
    <div class="col-md-12 text-center">
        <div class="terminosFooter mb-3 text-center">
            <a href="">Términos y condiciones | </a>
            <a href="">Política de uso y privacidad | </a>
            <a href="">Política de cookies | </a>
            <a href="">Código ético</a>
        </div>
        <div class="textoTailor text-center">© 2019 Yolanda Camarasa - Tailor Shop, S.L.</div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-12 border-bottom mt-3 mb-5"></div>
</div>



