<!-- Footer -->
<div class="footer">
    <div class="row no-gutters ng-scope">
        <div class="col-md-12 border-bottom mb-5"></div>
    </div>

    <div class="row no-gutters all-footer">
        <!--Links-->
        <div class="col-md-12 col-lg-3 my-auto">
            <div class="row no-gutters">
                <div class="col-md-4 margen-footer"></div>
                <div class="col-md-6 foot mx-auto">
                    <a class="pl-0 pr-0 nav-link" href="infoCompra">Cómo Comprar</a>
                    <a class="pl-0 pr-0 nav-link" href="infoPago">Formas de pago</a>
                    <a class="pl-0 pr-0 nav-link" href="infoEnvio">Envíos y devoluciones</a>
                </div>
            </div>
        </div>

        <!--Centro-->
        <div class="col-md-12 col-lg-6">
            <div class="text-center"><img src="https://img.icons8.com/color/48/000000/sewing-machine.png"></div>
            <div class="textoFooter mb-5 mx-auto text-center">Si la vida te da retales, hazte una colcha de patchwork :)</div>

        </div>

        <!--Redes sociales-->
        <div class="col-md-12 col-lg-3 my-auto">
            <div class="contenedorBotones mx-auto">
                <div class="menuBallFooter faceball">
                    <span> <img class="face bounce-in-right " src="images/f.svg" alt="face"></span>
                    <a class="social-link" ng-href="http://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook-square fa-1x"></i>
                    </a>
                </div>
                <div class="hover menuBallFooter">
                    <span> <img class="ins bounce-in-right " src="images/i.svg" alt="insta"></span>
                    <a class="social-link" ng-href="http://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram fa-1x"></i>
                    </a>
                </div>
                <div class="menuBallFooter twitball">
                    <span><img class="twit bounce-in-right" src="images/t.png" alt="twitter" /></span>
                    <a class="social-link" ng-href="http://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter fa-1x"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row no-gutters footer2">
        <div class="col-md-6">
            <div class="textoTailor text-center">
                <i class="far fa-copyright"></i>
                2019 Created with <span class="love"></span> by Yolanda Camarasa - Tailor Shop, S.L.
            </div>
        </div>
        <div class="col-md-6">
            <div class="terminosFooter text-center">
                <a href="infoAviso">Aviso legal | </a>
                <a href="infoCookies">Política de cookies  | </a>
                <a href="https://www.freepik.es/fotos-vectores-gratis/vintage">Freepik</a>

            </div>
        </div>
    </div>
</div>

