<!-- Footer -->
<div class="footer">
    <div class="row no-gutters ng-scope">
        <div class="col-md-12 border-bottom mb-5"></div>
    </div>

    <div class="row no-gutters">
        <!--Links-->
        <div class="col-md-3 my-auto">
            <div class="row no-gutters">
                <div class="col-md-4"></div>
                <div class="col-md-6 foot mx-auto">
                    <a class="pl-0 pr-0 nav-link" href="#">Cómo Comprar</a>
                    <a class="pl-0 pr-0 nav-link" href="#">Formas de pago</a>
                    <a class="pl-0 pr-0 nav-link" href="#">Envíos y devoluciones</a>
                </div>
            </div>
        </div>

        <!--Centro-->
        <div class="col-md-6">
            <div class="text-center"><img src="https://img.icons8.com/color/48/000000/sewing-machine.png"></div>
            <div class="textoFooter mb-5 mx-auto text-center">Si la vida te da retales, hazte una colcha de patchwork :)</div>

        </div>

        <!--Redes sociales-->
        <div class="col-md-3 my-auto">
            <div class="contenedorBotones mx-auto">
                <div class="menuBallFooter faceball">
                    <span> <img class="face bounce-in-right " src="images/f.svg" alt="face"></span>
                    <a class="social-link" href="#" target="_blank">
                        <i class="fab fa-facebook-square fa-1x"></i>
                    </a>
                </div>
                <div class="hover menuBallFooter">
                    <span> <img class="ins bounce-in-right " src="images/i.svg" alt="insta"></span>
                    <a class="social-link" href="#" target="_blank">
                        <i class="fab fa-instagram fa-1x"></i>
                    </a>
                </div>
                <div class="menuBallFooter twitball">
                    <span><img class="twit bounce-in-right" src="images/t.png" alt="twitter" /></span>
                    <a class="social-link" href="#" target="_blank">
                        <i class="fab fa-twitter fa-1x"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row no-gutters footer2">
        <div class="col-md-6">
            <div class="textoTailor text-center">
                <i class="far fa-copyright"></i>
                2019 Created with <span class="love"></span> by Yolanda Camarasa - Tailor Shop, S.L.
            </div>
        </div>
        <div class="col-md-6">
            <div class="terminosFooter text-center">
                <a href="">Términos y condiciones | </a>
                <a href="">Política de uso y privacidad | </a>
                <a href="">Política de cookies | </a>
                <a href="">Código ético</a>
            </div>
        </div>
    </div>
</div>

